<!doctype html>
<html>

<head>
    <title>anhtu-Demo</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/static/dist/css/select2.min.css" />
    <script type="text/javascript" src="/static/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/dist/js/select2.min.js"></script>
    <script src="/static/js/index.js"></script>
    <script type="text/javascript" src="/static/js/placeholders.min.js"></script>
</head>

<body>
    <div class="row">
        <div class="col-sm-3 col-md-3 text-center" style="background-color:lavender;">
            <h3 class="text-center">Options</h3>
            <hr>
            <label>Collections</label>
            <br>
            <select class="" id="select-collection" style="width: 70%">
                <option></option>
            </select>
            <hr>
            <label>Lists</label>
            <br>
            <select class="" id="select-list" style="width: 70%">
                <option></option>
            </select>
            <hr>
            <label>Categories</label>
            <br>
            <select class="" id="select-category" style="width: 70%">
                <option></option>
            </select>
            <hr>
            <label>Binary files</label>
            <br>
            <select class="" id="select-binary-file" style="width: 70%">
                <option></option>
            </select>
            <hr>
            <button class="btn-primary">Search</button>
            <button class="btn-primary">Reset</button>
        </div>
        <div class="col-sm-9 col-md-9 text-center" style="background-color:lavenderblush;">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                        <img src="/static/JPG/1273.jpg" alt="...">
                        <div class="caption">
                            <h3>1273.jpg</h3>
                            <p><a href="#" class="btn btn-primary" role="button">View more...</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                        <img src="/static/JPG/1273.jpg" alt="...">
                        <div class="caption">
                            <h3>1273.jpg</h3>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                        <img src="/static/JPG/1273.jpg" alt="...">
                        <div class="caption">
                            <h3>1273.jpg</h3>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                        <img src="/static/JPG/1273.jpg" alt="...">
                        <div class="caption">
                            <h3>1273.jpg</h3>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                        <img src="/static/JPG/1273.jpg" alt="...">
                        <div class="caption">
                            <h3>1273.jpg</h3>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                        <img src="/static/JPG/1273.jpg" alt="...">
                        <div class="caption">
                            <h3>1273.jpg</h3>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                        <img src="/static/JPG/1273.jpg" alt="...">
                        <div class="caption">
                            <h3>1273.jpg</h3>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                        <img src="/static/JPG/1273.jpg" alt="...">
                        <div class="caption">
                            <h3>1273.jpg</h3>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                        <img src="/static/JPG/1273.jpg" alt="...">
                        <div class="caption">
                            <h3>1273.jpg</h3>
                            <p><a href="/static/JPG/1273.jpg" class="btn btn-primary" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                        <img src="/static/JPG/1273.jpg" alt="...">
                        <div class="caption">
                            <h3>1273.jpg</h3>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
